<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sk7software.spotifyexplicittrackskipper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/sanctifyicon5"
        android:label="Sanctify"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.AuthoriseActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service
            android:name=".TrackBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
        </service>
        <receiver
            android:name=".SpotifyKeepAlive"
            android:enabled="true"></receiver>

        <activity android:name=".ui.MainActivity"
            android:parentActivityName=".ui.AuthoriseActivity" />
        <activity android:name=".ui.PrefsActivity"
            android:parentActivityName=".ui.MainActivity" />
    </application>

</manifest>